:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #e5e5e5;
  background-color: #16161A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#errores {
  color: red;
  font-weight: bold;
}

body {
  color: #e5e5e5;
  background-color: #16161A;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}

table {
  margin: 0 auto; 
}

#formulario {
  color: #16161A;
  min-height: 420.375px;
  background-color: #edf1f8;
  border: 1px solid #2CB67D; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px 10px;
}

#formularioDatos input { 
  height: 35px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 1em;
  text-align: center;
}

#formularioDatos select { 
  height: 35px;
  border-radius: 10px;
  font-size: 1em;
  text-align: center;
}

#formularioDatos td {
  line-height: 2;
}

select {
  width: 100%;
}

#resultado { 
  background-color: #edf1f8;
  border: 1px solid #2CB67D; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#resultTable {
  background-color: #edf1f8;
  color: #16161A;
  border-collapse: collapse; 
  width: 100%; 
}

#resultTable th, #resultTable td {
  border: 1px solid #16161A; 
  padding: 8px; 
}

#resultTable th {
  color: #ffffff;
  background-color: #7F5AF0; 
  border: #16161A;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: #94A1B2;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2CB67D;
  cursor: pointer;
  transition: background-color 0.25s;
  transition: border-color 0.25s;
  transition: color 0.25s;
}
button:hover {
  background-color: #7F5AF0;
  color: #ffffff;
  border-color: #2CB67D;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #16161A;
    background-color: #ffffff;
  }
  
  button {
    color: #ffffff;
    background-color: #2CB67D;
  }
}



footer {
  background-color: #16161A; 
  color: #e5e5e5; 
  text-align: center;
  padding: 0;
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
}

#formulario,
#resultado {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

#resultado {
  opacity: 0;
}

header .container {
  align-items: center;
}

#landingInfo .info {
  color: #ffffff;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 25px;
  margin: 12px;
  border-radius: 15px;
  min-height: 75px;
  max-height: 75px;
}

.info:first-child {
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)
  )
  , url("images/imagen1.jpg")
  ;
}

.info:nth-child(2) {
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)
  )
  , url("images/imagen2.jpg")
  ;
}

.info:nth-child(3) {
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)
  )
  , url("images/imagen3.jpg")
  ;
}

#landingPage {
  text-align: center;
}

div img{
  border-radius: 10px;
  max-width: 300px;
  padding: 0;
}

#goToCalculadora {
  margin-bottom: 10px;
}

@media (min-width: 1000px) {

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }

  #landingInfo {
    display: flex;
    justify-content: center;
  }

  #landingInfo .info {
    padding: 50px;

  }
}