:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color: #e5e5e5;
  
  background: rgb(0,0,0);
  background: linear-gradient(0deg, #000000 30%, #005050 82%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#errores {
  color: rgb(255, 130, 130);
  font-weight: bold;
}

body {
  
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}

table {
  margin: 0 auto; 
}

#formulario {
  min-height: 420.375px;
  color: #e5e5e5;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

#formularioDatos input { 
  height: 35px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;

  color: #e5e5e5;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  
}

#formularioDatos select { 
  height: 35px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;

  color: #e5e5e5;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

#formularioDatos td {
  line-height: 2;
}

select {
  width: 100%;
}

#resultado { 
  
  color: #e5e5e5;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#resultTable {
  color: #e5e5e5;
  border-collapse: collapse; 
  width: 100%; 
}

#resultTable th, #resultTable td {
  border: 1px solid rgba(229, 229, 229, 0.2);
  padding: 8px; 
}

#resultTable th {
  color: #e5e5e5;
  border: 1px solid rgba(229, 229, 229, 0.2);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: #c6ced8;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  width: 150px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #e5e5e5;
  color: #000000;
  cursor: pointer;
  transition: all 0.25s;

}
button:hover {
  background-color: #005050;
  border-color: #01adad;
  color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  color: #e5e5e5; 
  text-align: center;
  padding: 0;
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
}

#formulario,
#resultado {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

#resultado {
  opacity: 0;
}

header .container {
  align-items: center;
}

@media (min-width: 1000px) {

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }

  #landingInfo {
    display: flex;
    justify-content: center;
  }

  #landingInfo .info {
    padding: 50px;

  }
}